@()
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>play-scala-angular2-analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
</head>
<body>
<app-root>Loading...</app-root>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/inline.bundle.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/polyfills.bundle.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/styles.bundle.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/vendor.bundle.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/main.bundle.js")"></script>
</body>
</html>